@{
    Layout = "~/Views/Layouts/_AuthLayout.cshtml";
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <form class="login" method="POST" role="form" id="form_login">
                <div class="login-page">
                    <div class="form-login-error">
                        <h3>Invalid login</h3>
                        <p>Please enter correct email and password!</p>
                    </div>
                </div>

                <div style="text-align: center;">
                    <img src="/img/logo.png" class="img img-responsive img-fluid" />
                </div>

                <input type="text" id="email" name="email" placeholder="Email" />
                <input type="password" id="password" name="password" placeholder="Password" />
                <button type="submit">Log In</button>

                <div class="mt-2">
                    <a href="/forget-password">Forget Password?</a>
                </div>
            </form>

            <a href="https://www.gccexchange.com/" target="_blank" class="developer">
                Developed and Maintained by Digital & Communications Team
            </a>

        </div>
    </div>
</div>