@{
    Layout = "~/Views/Layouts/_DashboardLayout.cshtml";
    ViewData["Title"] = "Branches";
}

<div class="row">
    <div class="col-md-12">
        <div class="card p-3 shadow">
            <div class="card-body">
                <nav>
                    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="branches-tab" data-bs-toggle="tab"
                            data-bs-target="#branches" type="button" role="tab" aria-controls="branches"
                            aria-selected="true">Branches</button>
                        <button class="nav-link" id="create-branch" data-bs-toggle="tab" data-bs-target="#createBranch"
                            type="button" role="tab" aria-controls="createBranch" aria-selected="false">Create
                            Branch</button>
                    </div>
                </nav>

                <div class="tab-content p-3 border bg-light" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="branches" role="tabpanel" aria-labelledby="branches-tab">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Branch Name</th>
                                        <th>Email Address</th>
                                        <th>Contact No</th>
                                        <th>Landline No</th>
                                        <th>Labour No</th>
                                        <th>Manager</th>
                                        <th>Manager Contact No</th>
                                        <th>Asst Manager</th>
                                        <th>Area Manager</th>
                                        <th>No of Employees</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                        <td>8</td>
                                        <td>9</td>
                                        <td>10</td>
                                        <td>11</td>
                                        <td>112</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="createBranch" role="tabpanel" aria-labelledby="create-branch">
                        <p><strong>This is some placeholder content for the Create Branch tab.</strong>
                            Clicking another tab will toggle the visibility of this one for the next.
                            The tab JavaScript swaps classes to control the content visibility and styling.
                            You can use it with tabs, pills, and any other <code>.nav</code>-powered navigation.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
