@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local(Poppins-Regular),
    url(../fonts/Poppins-Regular.ttf) format("woff2");
  font-display: swap;
}

body {
  font-family: "Poppins", sans-serif;
}

.table,
.dt-info {
  font-size: 13px !important;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea,
select {
  font-size: 13px !important;
}
