<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="author" content="Vidusha Wijekoon" />
     <meta name="description" content="Human Resources Management System (HRMS)" />

     <title>@ViewData["Title"] - | Human Resources Management System (HRMS)</title>
     @await Html.PartialAsync("~/Views/Libs/Auth/Styles.cshtml")

</head>

<body class="hold-transition login-page">
     @RenderBody()

     @await Html.PartialAsync("~/Views/Libs/Auth/Scripts.cshtml")
</body>

</html>