<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Vidusha Wijekoon" />
    <meta name="description" content="Human Resources Management System (HRMS)" />
    <title>@ViewData["Title"] | Human Resources Management System (HRMS)</title>
    <meta name="theme-color" content="#ffffff" />

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />

    @await Html.PartialAsync("~/Views/Libs/Dashboard/Styles.cshtml")
</head>

<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <div class="container" data-layout="container">
            <script>
                var isFluid = JSON.parse(localStorage.getItem("isFluid"));
                if (isFluid) {
                    var container = document.querySelector("[data-layout]");
                    container.classList.remove("container");
                    container.classList.add("container-fluid");
                }
            </script>

            @await Html.PartialAsync("~/Views/Templates/Dashboard/Sidebar.cshtml")

            <!-- Main Content-->
            <div class="content">
                @await Html.PartialAsync("~/Views/Templates/Dashboard/Header.cshtml")
                @RenderBody()
                @await Html.PartialAsync("~/Views/Templates/Dashboard/Footer.cshtml")
            </div>
            <!-- Main Content-->


        </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    @await Html.PartialAsync("~/Views/Templates/Dashboard/Canvas.cshtml")

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->

    @await Html.PartialAsync("~/Views/Libs/Dashboard/Scripts.cshtml")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>