<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar" data-simplebar="init">
        <div class="simplebar-wrapper" style="margin: 0px;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
                        style="height: 100%; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 0px;">
                            <a class='sidebar-brand' href='/'>
                                <span class="sidebar-brand-text align-middle d-flex justify-content-center">
                                    HRMS
                                </span>
                            </a>

                            <ul class="sidebar-nav">
                                <li class="sidebar-item">
                                    <a class='sidebar-link' href='#'>
                                        <i class="align-middle" data-feather="sliders"></i>
                                        <span class="align-middle">Dashboard</span>
                                    </a>
                                </li>


                                <li class="sidebar-item">
                                    <a data-bs-target="#employees" data-bs-toggle="collapse"
                                        class="sidebar-link collapsed">
                                        <i class="align-middle" data-feather="layout"></i>
                                        <span class="align-middle">Master Data</span>
                                    </a>
                                    <ul id="employees" class="sidebar-dropdown list-unstyled collapse"
                                        data-bs-parent="#sidebar">
                                        <li class="sidebar-item">
                                            <a class='sidebar-link' href='/Employees'>Employees</a>
                                        </li>
                                        <li class="sidebar-item">
                                            <a class='sidebar-link' href='/CreateEmployee'>Create Employess</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-item">
                                    <a class='sidebar-link' href='#'>
                                        <i class="align-middle" data-feather="credit-card"></i>
                                        <span class="align-middle">Invoice</span>
                                    </a>
                                </li>

                                <li class="sidebar-item">
                                    <a class='sidebar-link' href='#'>
                                        <i class="align-middle" data-feather="list"></i>
                                        <span class="align-middle">Tasks</span>
                                    </a>
                                </li>

                                <li class="sidebar-item">
                                    <a class='sidebar-link' href='#'>
                                        <i class="align-middle" data-feather="calendar"></i>
                                        <span class="align-middle">Calendar</span>
                                    </a>
                                </li>

                                <li class="sidebar-header">
                                    Data
                                </li>

                                <li class="sidebar-item">
                                    <a data-bs-target="#master_data" data-bs-toggle="collapse"
                                        class="sidebar-link collapsed">
                                        <i class="align-middle" data-feather="layout"></i>
                                        <span class="align-middle">Master Data</span>
                                    </a>
                                    <ul id="master_data" class="sidebar-dropdown list-unstyled collapse"
                                        data-bs-parent="#sidebar">
                                        <li class="sidebar-item">
                                            <a class='sidebar-link' href='/departments'>Departments</a>
                                        </li>
                                        <li class="sidebar-item">
                                            <a class='sidebar-link' href='/branches'>Branches</a>
                                        </li>
                                        <li class="sidebar-item">
                                            <a class='sidebar-link' href='/designations'>Designations</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-header">
                                    Plugins &amp; Addons
                                </li>


                            </ul>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</nav>