@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewData["Title"] = "Branches";
}

<div class="row">
    <div class="col-md-10">
        <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded border border-dark">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <div>
                        <h4 class="card-title card-title-dash">Branches</h4>
                    </div>
                    <div>
                        <a asp-controller="Admin" asp-action="CreateBranch"
                            class="btn btn-primary btn-lg text-white mb-0 me-0 px-4 py-2">
                            <i class="mdi mdi-account-plus"></i>Add New Branch
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-start">

                    </div>
                    <div class="table-responsive  mt-1">
                        <table class="table select-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Branch Name</th>
                                    <th>Branch Status</th>
                                    <th>Total Employees</th>
                                    <th>Branch Created By</th>
                                    <th>Branch Created At</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>