<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>

        <li class="nav-item nav-category">Master Data</li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false"
                aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-floor-plan"></i>
                <span class="menu-title">Master</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="Branches" class="nav-link">Branches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Depaetments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Designations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Visa Designations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Grades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Air Ticket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Holidays</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false"
                aria-controls="form-elements">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Employees</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="">All Employees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Create Employees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Employees Tranfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Old Employees</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item nav-category">Payroll</li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#payroll" aria-expanded="false" aria-controls="payroll">
                <i class="menu-icon mdi mdi-chart-line"></i>
                <span class="menu-title">Payroll</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="payroll">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="">Salary Process</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Deductions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">ChartJs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Payslips</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#attendance" aria-expanded="false"
                aria-controls="attendance">
                <i class="menu-icon mdi mdi-table"></i>
                <span class="menu-title">Attendance</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="attendance">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="">Live Attendace</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Attendace History</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item nav-category">Requests</li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#emp-requests" aria-expanded="false"
                aria-controls="emp-requests">
                <i class="menu-icon mdi mdi-layers-outline"></i>
                <span class="menu-title">Employees Requests</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="emp-requests">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="">Leave Request</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Air Ticket Request</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Document Release Request</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Cash / Loan Request</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Passport Details</a>
                    </li>
                </ul>
            </div>
        </li>

    </ul>
</nav>